<form class="login-form" method="POST" action="/login">
{{#if error}}
<div class="alert alert-danger" role="alert">
  {{error}}
</div>
{{/if}}
  <div class="form-group">
    <label for="login">Логин:</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Логин">
  </div>
  <div class="form-group">
    <label for="password">Пароль:</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Пароль">
  </div>
  <button type="submit" class="btn btn-primary">Войти</button>
</form>
