
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
          {{#with userPost}}
        <h5 class="card-title">Фото</h5>
        <p class="card-text">{{username}}</p>
        {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
      {{/with}}
      </div>
    </div>
  </div>
  {{#with post}}
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
        <a href="#" class="btn btn-primary">Удалить</a>
      </div>
    </div>
  </div>
</div>
{{/with}}