
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
          {{#with userPost}}
        <h5 class="card-title">Фото</h5>
        <p class="card-text">{{username}}</p>
        {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
      {{/with}}
      </div>
    </div>
  </div>
  {{#with post}}
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
        <a href="#" class="btn btn-primary">Удалить</a>
      </div>
    </div>
    <form class="comment" action="" method="POST">
    <label for="">Добавить комментарий:</label>
    <textarea name="comment"></textarea>
    <input type="submit" value="Дабваить" class="btn btn-primary">
    </form>
    <div class="allComments">
      {{#each allComments}}
      <div class="">
        <p></p>
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{/with}}